<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gizshare</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="../../static/style.css">
        <link rel="stylesheet" href="../../static/styles.css">
        <script src="https://kit.fontawesome.com/2810edf5c9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../static/app.css">
        <link rel="stylesheet" href="../../static/bootstrap.min.css">
        <script type="text/javascript" src="{% static 'layout.js' %}">
            
                
        </script>
    
    
       
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
            <link rel="shortcut icon" href="{% static 'Images/favicon.ico' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
 <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
            {% block head %}
            {% endblock %}
    
    </head>
<body class="grey-bg">
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="../../static/Images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">

            <!-- ********************search******************* -->
            <form action="{% url 'search' %}" class="d-flex input-group" method="GET" style="align-content: right;">
            <div class="d-flex input-group">
                <input type="text" name="q" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="basic-addon2" required>
                    <button type="submit" style="border: none;" > <span class="input-group-text" id="basic-addon2"><span class="material-symbols-outlined">
                        search
                    </span></span></button>
            </div>
        </form>


             <!-- ********************search******************* -->
             <div><ul style="display: flex; padding-top: 25px;">
         
                <li style="list-style: none; padding-left: 15px;">
                    <div class="notification">
                   <a href="{% url 'notification'  %}"><span class="material-symbols-outlined">
                    notifications
                </span></a> 
                    
                    <span class="badge">{{ dd }}</span>
                    
                    </div>
                    <!-- <h6 style="font-size: 11px; margin-top: 2px; margin-left: -5px;">Notifications</h6> -->
               </li>&nbsp;
                <li style="list-style: none; padding-left: 15px; margin-left: -8px;"><div class="notification">
                    <a href="{% url 'cart' %}"><span class="material-symbols-outlined">
                      local_mall
                      </span></a>
                    <span class="badge">{{ crt_count }}</span>
                    </div>
                    <h6 style="font-size: 11px; margin-top: 2px; margin-left: 7px;"></h6></li>
            </ul>
                </div>


              <div class="d-flex align-items-center nav-profile">

                <div class="nav-info">
                    <a href="{% url 'profile' user.id %}" style="text-decoration: none; color: black;">
                    <h6 >{{user.username}} &nbsp;&nbsp;</h6></a>
                </div>
                <div class="nav-img">
                    {% if user.is_authenticated %}
                   
                    <a href="{% url 'profile' user.id %}">               
                       
                        <div class="nav-profilepic" style="float: left; background-image: url(/media/{{user.profile_pic}})"></div>
                    </a>

                    {% endif %}
                </div>
                
            </div>
          </div>
        </div>
      </nav>


      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
            <div class="menu-list bg-white">
                <div class="sidenav">
                   
                    <div style="height: 100%;">
                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}" >
                                            <span class="material-symbols-outlined">
                                                home
                                                </span>
                                                Home
                                        </a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        
                                        <!-- <li class="nav-item" id="saved">
                                            <a href="{% url 'saved' %}" class="nav-link">
                                                <div>
                                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bookmark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
                                                      </svg>
                                                    &nbsp;&nbsp;Saved
                                                </div>
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="{% url 'profile' user.id %}">
                                                <span class="material-symbols-outlined">
                                                    person
                                                    </span>
                                                    Profile
                                            </a>
                                           
                                        </li>
                                        <!-- <li class="nav-item" id="logout">
                     
                                            <a href="" class="nav-link">
                                                <div  >
                                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-door-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z"/>
                                                        <path fill-rule="evenodd" d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z"/>
                                                        <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z"/>
                                                    </svg>
                                                    &nbsp;&nbsp;Sell
                                                </div>
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a href="">
                                                <span class="material-symbols-outlined">
                                                    work
                                                    </span>
                                                    Library
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="{% url 'wishlis' user.id %}" class="active">
                                              <span class="material-symbols-outlined">
                                                bookmark
                                                </span>
                                                    Bookmark
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'notification'  %}">
                                                <span class="material-symbols-outlined">
                                                    notifications
                                                    </span>
                                                    Notifications   {% if fri is not None %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" fill="red"  class="bi bi-dot" viewBox="0 0 16 16">
                                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                                      </svg>
                                                    {% endif %}
                                                    
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'pag' user.id %}">
                                                <span class="material-symbols-outlined">
                                                    apps
                                                    </span>
                                                    Pages
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <span class="material-symbols-outlined">
                                                    logout
                                                    </span>
                                                   Logout
                                            </a>
                                        </li>
                                        
                                        <!-- <li>
                                            <a href="{% url 'logout' %}">
                                                <span class="material-symbols-outlined">
                                                    apps
                                                    </span>
                                                   Logout
                                            </a>
                                        </li>
                                         -->
                                    {% else %}
                                    
                                    <li>
                                        <a href="{% url 'login' %}">
                                            <span class="material-symbols-outlined">
                                                notifications
                                                </span>
                                               Login
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'register' %}">
                                            <span class="material-symbols-outlined">
                                                notifications
                                                </span>
                                               Sign In
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                           
                        </div>
                     
                            
                            {% if user.is_authenticated %}
                                <input type="hidden" id="user_is_authenticated" value="True" data-username='{{user.username}}'>
                            {% else %}
                                <input type="hidden" id="user_is_authenticated" value="False">
                            {% endif %}
                        
                    </div>
                </div>
            </div>

            {% for wsh in wsh %}
            <div class="modal" id="shareModal{{ wsh.id }}">
              <div class="modal-contented">
                <span class="close">&times;</span>
                <div class="social-icons">
                  <div class="sales-share" style="display: flex;">
                    <a href="#" class="icon facebook facebook-btn" onclick="shareOnFacebook(event, 'http://127.0.0.1:8000/post_comment/{{ wsh.post.id }}');"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="icon twitter twitter-btn" onclick="shareOnTwitter(event, 'http://127.0.0.1:8000/post_comment/{{ wsh.post.id }}');"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="icon linkedin linkedin-btn" onclick="shareOnLinkedIn(event, 'http://127.0.0.1:8000/post_comment/{{ wsh.post.id }}');"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="icon Whatsapp whatsapp-btn" onclick="shareOnWhatsApp(event, 'http://127.0.0.1:8000/post_comment/{{ wsh.post.id }}');"><i class="fa fa-whatsapp"></i></a>
                  </div>
                </div>
                <label for="urlInput{{ wsh.id }}">share to someone</label>
                <input type="text" id="urlInput{{ wsh.id }}" value="" readonly>
                <button class="copy-btn" id="copyBtn{{ wsh.id }}">Copy URL</button>
              </div>
            </div>
          {% endfor %}


            <div class="menu-list bg-white mt-3">
                <div class="profile-wrapper">
                    <div class="bg-profile"></div>
                    <div class="profile-img">
                        <div class="small-card-pic" style="float: left; background-image: url(/media/{{user.profile_pic}})"></div>
                    </div>
                    <div class="pro-info">
                        <h2>{{user.username}} </h2>
                        <p>Student</p>
                    </div>
    
                </div>
                <ul class="viewed-list">
                    <li>Views of your profile <span><h6 id="count-views"></h6></span></li>
                        <li>Views of your gizs <span>1</span></li>
    
                </ul>
            </div>
          
        </div>

       


  <!-- ************************************ -->


  <div class="popup">
    <div class="small-popup">
        <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Delete Post?</strong></div>
        <div class="grey" style="font-size: .85em; margin-bottom: 15px;">
            This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from GizShare search results.
        </div>
        <div style="padding: 0px 5%;">
            <button class="btn btn-light float-left" onclick="remove_popup()">Cancel</button>
            <button class="btn btn-danger float-right" id="delete_post_btn">Delete</button>
        </div>
    </div>
    <div class="share-popup">
        <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Delete Post?</strong></div>
        <div class="grey" style="font-size: .85em; margin-bottom: 15px;">
            This can’t be undone and it will b
        </div>
        <div style="padding: 0px 5%;">
            <button class="btn btn-light float-left" onclick="remove_popup()">Cancel</button>
            
        </div>
        
    </div>
    <div class="large-popup">
        <div>
            <div>
                <div class="small-profilepic" style="background-image: url(/media/{{user.profile_pic}});"></div>
            </div>
         
        </div>
    </div>
    <div class="login-popup">
        <div onclick="remove_popup()" class="icon-btn">
            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
        </div>
        <center>
            <div class="icon-div">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#e0245e" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </div>
            <div class="main_text-div">
                <h2></h2>
                <div class="grey">
                    Join Network today to connect with people you know.
                </div>
            </div>
            <div class="btn-div">
                <button class="btn btn-success btn-block" onclick="goto_register()">Sign Up</button>
                <button class="btn btn-outline-success btn-block" onclick="goto_login()">Login</button>
            </div>
        </center>
    </div>
</div>


<!-- ******************************************* -->




<div class="col-lg-6 col-md-6 col-12" >
    <div class="scroll-page">

    <div id="app"   >

        
 
        {% for wsh in wsh %}
                <!--====== App Content ======-->
                <div class="post" data-post_id="{{wsh.id}}" style="border-radius: 20px; ">
                   <div>
                       <div style=" margin-top: 20px;">
                           {% if wsh.posts_type == "page_post" %}
                           <a href="{% url 'pageprofile' wsh.page_id.id %}"></a>
                           <div class="post-profilepic" style="background-image: url(/media/{{wsh.page_id.image}})"></div>
                         
                           {% else %}
                           <a href="{% url 'profile' wsh.creater.id %}">
                           <div class="post-profilepic" style="background-image: url(/media/{{wsh.creater.profile_pic}})"></div>
                           </a>
                           {% endif %}
                       </div>
                       <div style="flex: 1" >
                           <div class="post-user"  style=" margin-top: 20px;">
                               <div style="padding-left: 10px;">
                                 
                                   {% if wsh.posts_type == "page_post" %}
                                  
                                   <a href="{% url 'pageprofile' wsh.page_id.id %}">
                                       <span><strong>{{wsh.page_id.pagename}} </strong></span>
                                   </a>
                                   {% else %}
                                   <a href="{% url 'profile' wsh.creater.id %}">
                                       <span><strong>{{wsh.creater.username}} </strong></span>
                                   </a>
                                   {% endif %}
       
                                   <a href="">
                                       <span class="grey">&nbsp;</span>
                                   </a>
                                   <span class="grey">&nbsp;&middot;&nbsp;&nbsp;{{wsh.date_created | date:"P M d Y"}}</span>
                                   <br>
                               <p>student</p>
                               </div>
                               
                               <div class="dropdown" style="height: 1em; margin-top: -3px; margin-right: -3px;">
                                   <button style="border: none; background-color: white;"  onfocus="drop_down(event)" onblur="remove_drop_down(event)" >
                                       <span class="material-symbols-outlined">
                                   more_horiz
                               </span>
                                       
                                   </button>
                                  
                                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                       <a   type="submit" class="dropdown-item"  href="{% url 'delete_wishlist' wsh.id %}" style="padding-left: 15px;"> 
                                               
                                           &nbsp;+  &nbsp; Remove from wishlist
                                       </a>
                                       {% if post.creater == user %}
                                          <a  type="submit" class="dropdown-item"  href="/delete_post/{{ post.id }}" style="padding-left: 15px;"> 
                                               <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-trash" fill="#e0245e" xmlns="http://www.w3.org/2000/svg">
                                                   <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                   <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                               </svg>
                                               &nbsp;Delete
                                           </a>
                                           <button class="dropdown-item" onclick="edit_post(this)">
                                               <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                   <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                               </svg>
                                               &nbsp;Edit post
                                           </button>
                                         
                                         
                                           {% endif %}
                                          
                                           <!-- {% if post.status == "sale" %}
                                          <a href="{% url 'product_detail' post.id %}"> <button class="dropdown-item" >
                                               <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                   <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                               </svg>
                                               &nbsp;Add To Cart
                                           </button></a>
                                           {% endif %} -->
                                      
                                   </div>
                                
                               </div>
                           </div>
                           {% if wsh.content_text is not None %}
                               <div style="padding-top: 20px;  margin-left: -55px; "  class="post-content">
                                   {{wsh.content_text | linebreaksbr}}
                               </div>
                           {% endif %}
                           {% if wsh.tages_n == "True" %}              
                           <div>
                                              
                               <a href="" class="mr - 1 badge badge-info"  hidden>#{{ wsh.tages_n }}</a></div><br>
       
                           {% else %}    
       <div>
                           <a href="{% url 'article_list_by_tag' wsh.tages_n %}" class="mr - 1 badge badge-info" style="margin-left: -40px;">#{{ wsh.tages_n }}</a></div><br>
       
                           {% endif %}
       
                           {% if wsh.status == "nsale" %}
                           {% if wsh.content_image.url|slice:"-4:" == ".mp4" %}
                                                                           
                           <video class="embed-responsive embed-responsive-16by9" controls="controls" controlsList="nodownload">
                               <source src="{{ wsh.content_image.url }}" type="video/mp4">
                           
                           </video>
                              
                            
       
                               {% elif wsh.content_image.url|slice:"-4:" == ".pdf" %}
       
       <a href="{{ wsh.content_image.url }}" download>
                              
                               <div class="post-image-wish" style="background-image: url(../../static/pdffp.jpg);"> <center>click to download</center></div>
                           </a>
       
                           {% elif wsh.content_image %}
       
                           <div class="post-image-wish" style="background-image: url(/media/{{wsh.content_image}});"></div>
                            {% else %}
       
                            <div class="post-image-wish" style="display: none;"></div>
       
       
       
                           {% endif %}
                           {% endif %} 
       
       
                           {% if wsh.status == "sale" %}
       
                                              
                                             
                                              
       
                           {% if wsh.content_image.url|slice:"-4:" == ".mp4" %}
                                                                           
                           <video class="embed-responsive embed-responsive-16by9" controls="controls" controlsList="nodownload">
                               <source src="{{ wsh.content_image.url }}" type="video/mp4">
                           
                           </video>
                              
                            
       
                               {% elif wsh.content_image.url|slice:"-4:" == ".pdf" %}
       
       <a href="{{ wsh.content_image.url }}" download>
                              
                               <div class="post-image-wish" style="background-image: url(../../static/pdffp.jpg);"> <center>click to download</center></div>
                           </a>
       
                           {% elif wsh.content_image %}
       
                           <div class="post-image-wish" style="background-image: url(/media/{{wsh.content_image}});"></div>
                            {% else %}
       
                            <div class="post-image-wish" style="display: none;"></div>
       
       
       
                           {% endif %}
       
                         
                          
                           {% endif %}
       
       
                        
       
                           {% if wsh.status == "sale" %}<br>
                           <div class="u-s-m-b-15" style="background-color: #eaeeeb; display: flex; margin-bottom: 10px; margin-top: -10px; width: 105%; height: 60px; margin-left: -40px; border-radius: 0px 0px 10px 10px;"  >
                            <div style="padding: 10px;">
                              <h6 style="color: rgb(78, 78, 78); font-size: 15px;">{{ wsh.categories }}</h6>
                              <h6 style="color: rgb(42, 42, 42);">{{ wsh.title }}</h6>
                            </div>


                            <div class="ml-auto" style="padding-top: 10px; padding-right: 10px;">
                                <button  style="background-color:rgba(192, 192, 190, 0.953) ; color: #fff; border:rgba(255, 132, 0, 0.953) ; border-radius: 15px; "  stclass="btn btn--e-brand-b-2" >
                                    <a  style="color:rgb(10, 10, 10); border:rgba(255, 132, 0, 0.953) ;" href="{% url 'product_detail' wsh.id wsh.creater.id %}"   class="btn btn--e-brand-b-2 ">Get now</a>
                                   </button>
                                <!-- <button type="button" class="btn btn-secondary" data-bs-target="#purchasePop" data-bs-toggle="modal">get now</button> -->
                                   </div>
                            
                         </div>
                           <!-- <div class="u-s-m-b-15" style="background-color: #e9e4e4; display: flex; margin-bottom: 10px;border-radius: 10px; margin-top: -40px; width: 105%; margin-left: -40px; " >
                            <div style="padding: 10px;">
                              <h6 style="color: rgb(78, 78, 78); font-size: 15px;">{{ wsh.post.categories }}</h6>
                              <h6 style="color: rgb(42, 42, 42);">{{ wsh.post.title }}</h6>
                            </div>


                            <div class="ml-auto" style="padding: 10px;">
                                <button  style="background-color:rgba(192, 192, 190, 0.953) ; color: #fff; border:rgba(255, 132, 0, 0.953) ; border-radius: 15px; "  stclass="btn btn--e-brand-b-2" >
                                     <a  style="color:rgb(10, 10, 10); border:rgba(255, 132, 0, 0.953) ;" href=""  class="btn btn--e-brand-b-2 ">Get now</a>
                                    </button>
                                   </div>
                            
                         </div>

                         
        -->
                          
                           {% endif %}
                               <div class="post-actions" style=" margin-left: -55px; margin-top: 15px; margin-bottom: 10px;">
                                                                          
                                
                                    {% if user in wsh.likers.all %}
                                        <div class="like" onclick="unlike_post(this)" data-post_id="{{wsh.id}}">
                                            <div class="svg-span">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="#e0245e" class="bi bi-star-fill" viewBox="0 -1 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </div>
                                        <div class="post-functions">
                                            <div class="likes_count">{{wsh.likers.count}} </div> <p >&nbsp; likes</p>
                                        </div>    
                                        </div>
                                    {% else %}
                                        <div class="like" onclick="like_post(this)" data-post_id="{{wsh.id}}" >
                                            <div class="svg-span">
                                                <svg class="liked"  class="bi bi-star" width="1.1em" height="1.1em" xmlns="http://www.w3.org/2000/svg"  fill="#000"  viewBox="0 -1 16 16">
                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                  </svg>
                                              
                                            </div>
                                            <div class="post-functions">
                                                <div class="likes_count">{{wsh.likers.count}} </div> <p>&nbsp; likes</p>
                                            </div> 
                                        </div>
                                    {% endif %}

                                    <div class="comment">
                                                <a href="{% url 'product_detail' wsh.id wsh.creater.id %}" style="padding-top: 3px;"  >
                                                <div class="svg-span">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="#000" class="bi bi-chat-left" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                      </svg>
                                                    
                                                </div></a>
                                                <div class="post-functions">
                                                   
                                                    <p>{{ post.num_reviews }} reviews </p>
                                                   
                                                </div> 
                                            </div>
                                    {% if wsh.status == "nsale" %}
        <div class="save" >
            <a class="shareBtn" onclick="openModal('{{ wsh.id }}')" style="border: none; padding-top: 3px;" > 
            <div class="svg-span">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                  </svg>
                
            </div></a>
            <div class="post-functions">
                <p> share</p>
            </div>
           
        </div>


        
        {% elif  wsh.status == "sale" %}

        <div class="save"  >
            <a class="shareBtn" onclick="openModal('{{ wsh.id }}')" style="border: none; padding-top: 3px;"> 
            <div class="svg-span">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                  </svg>
                
                
            </div> </a>
            <div class="post-functions">
                <p> share</p>
            </div>
           
        </div> 
        
      {% endif %}
    
      <div class="save"  >
        <a   style="border: none; padding-top: 3px;"> 
        </a>
        <div class="post-functions">
            <p> Bookmarks {{ wsh.num_wishlist }}</p>
        </div> 
       
    </div> 

                                    
                                    <div class="views ml-auto" style="margin-right: 20px;"  >
                                        <div class="svg-span" style="padding-top: 8px; ">
                                            
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="#000" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                              </svg>
                                            
                                        </div>
                                        <div class="post-functions" >
                                            <div class="likes_count">{{wsh.likers.count}} </div> <p >&nbsp; views</p>
                                        </div> 
                                    </div>
                                    
                                    

                                </div>
                           <!-- <div style=" width: 110%; margin-left: -55px;">
                              
                               <form action="{% url 'commentz' wsh.id  %}" method="POST"  enctype="multipart/form-data">
                                   {% csrf_token %}
                                   <div class="d-flex ">
                           <input placeholder="write comments..." name="comment_content" class="form-control"  >&nbsp;&nbsp;
                           <button style="border: .5px solid rgb(241, 236, 236); border-radius: 5px;"> <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#666565  " class="bi bi-send-fill" viewBox="0 0 16 16">
                               <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                             </svg></button>
                          
                       </div>
                          </form>
       
                          {% for comment in comment %}
       
                          <div class="comments" style="padding: 10px; border: 1px solid #E8E8E8; background-color: #fcecec; margin-top: 8px; border-radius: 10px;"  >
                           <p class="font-weight-bold">
                             {{ comment.commenter }}
                             <span class=" text-muted font-weight-normal">
                               {{ comment.comment_time }}
                             </span>
                           </p>
                           {{ comment.comment_content | linebreaks }}
                         </div>
       
                        
       
                          {% endfor %}
                       </div> -->
                           
                       </div>
                   </div>
                   <div class="comment-div" style="display: none;" data-post_id="{{post.id}}">
                       <div class="spinner-div">
                           <img src="{% static 'network/Images/spinner.gif' %}" id="spinner" height="65px">
                       </div>
                       
                   </div>
                  
               </div><br><hr style="color: rgb(190, 185, 185);"><br>
               {% endfor %}
              
        
        
                
            </div>
</div>
</div>




<div class="col-lg-3 col-md-3 col-12">
    
        <div class="feed-list bg-white">
            <div style="margin-top: -10px;">
                <form method="GET">
                  <div class="search">
                    <button type="submit"><span class="fa fa-search"></span></button>
                    <input class="outline" type="text" name="search" placeholder="Suggestions">
                  </div>
                </form>
              </div>            
                      
                  
                      {% if search %}
                          
                          <ul >
                              {% for suggestion in search_results %}
                                  {% if not suggestion.is_staff %}
                                      {% if suggestion.username != frd.to %}
                                          <li>
                                              <div class="feed-wrapper">
                                                  <div class="feed-img">
                                                      <a href="{% url 'profile' suggestion.id %}">
                                                          <div class="feed-profilepic" style="background-image: url(/media/{{suggestion.profile_pic}})"></div>
                                                      </a>
                                                  </div>
                                                  <div style="margin-left: 25px;" class="feed-info mr-auto">
                                                      <a style="text-decoration: none; color: black;" href="{% url 'profile' suggestion.id %}"><h6>{{suggestion.username}}</h6></a>
                                                      <p>student</p>
                                                  </div>
                                                  <div>
                                                      <a href="{% url 'sent_friend_request' suggestion.id %}" type="submit" style="text-decoration: none; color: black;"><span class="material-symbols-outlined">add</span></a>
                                                  </div> 
                                              </div>
                                          </li>
                                      {% endif %}
                                  {% endif %}
                              {% endfor %}
                          </ul>
                      {% endif %}
                      
          
                  <ul style="margin-top: 20px;">
                {% for suggestion in suggestions %}
              
                {% if not suggestion.is_staff %}
                {% if  suggestion.username != frd.to %}
              
                    <li>
                        <div class="feed-wrapper">
                            <div class="feed-img">
                                <a href="{% url 'profile' suggestion.id %}">
                                    <div class="feed-profilepic" style="background-image: url(/media/{{suggestion.profile_pic}})"></div>
                                </a>
                            </div>
                            <div style="margin-left: 25px;" class="feed-info mr-auto">
                                <a style="text-decoration: none; color: black;" href="{% url 'profile' suggestion.id %}"><h6>{{suggestion.username}}</h6></a>
                                <p>student</p>
                            </div>
                            <div>
                               
                                    <a  href="{% url 'sent_friend_request' suggestion.id   %}" type="submit" style="text-decoration: none;">+</a>
                            </div> 
                            <!-- <span class="material-symbols-outlined" >
                                add
                            </span> -->
                        </div>
                    </li>
                    {% endif %}
                    {% endif %}
                   {% endfor %}
                </ul>
                        
    </div>

    <div class="feed-list bg-white">
        <h4 style="margin-left: 20px;"> follow topics<span class="material-symbols-outlined">
            
            </span></h4><br>

        <ul>
            {% for intrests in intrests %}
          
          
          
                <li>
                    <div class="feed-wrapper">
                       
                        <div style="margin-left: 25px;" class="feed-info mr-auto">
                            <a style="text-decoration:none; color: black;" href="{% url 'topicpage' intrests.id %}">
                            <h6 style="text-decoration:none; color: black;" >{{intrests.intrest_name}}</h6>
                        </a>
                            <p></p>
                        </div>
                        <div>
                           
                                <a  href="" type="submit" style="text-decoration: none;">+</a>
                        </div> 
                        <!-- <span class="material-symbols-outlined" >
                            add
                        </span> -->
                    </div>
                </li>
                
               {% endfor %}
            </ul>
                    </div>
</div>
</div>

</div>

<script>
    function openModal(postId) {
    // Get the corresponding modal popup
    var modal = document.getElementById("shareModal" + postId);
  
    // Get the <span> element that closes the modal popup
    var span = modal.querySelector(".close");
  
    // Get the URL input element and copy button
    var urlInput = modal.querySelector("#urlInput" + postId);
    var copyBtn = modal.querySelector("#copyBtn" + postId);
  
    // Set the URL value
    urlInput.value = "http://127.0.0.1:8000/post_comment/" + postId;
  
    // When the user clicks the share button, open the modal popup
    modal.style.display = "block";
  
    // When the user clicks the close button, close the modal popup
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal popup, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  
    // When the user clicks the copy button, copy the URL to clipboard
    copyBtn.onclick = function() {
      // Select the URL input text
      urlInput.select();
      urlInput.setSelectionRange(0, 99999); // For mobile devices
  
      // Copy the URL to clipboard
      document.execCommand("copy");
  
      // Change the copy button text to "Copied!"
      copyBtn.innerHTML = "Copied!";
    }
  }
  {% for wsh in wsh %}
    var copyBtn{{ wsh.id }} = document.getElementById('copyBtn{{ wsh.post.id }}');
    copyBtn{{ wsh.post.id }}.addEventListener("click", function() {
      openModal({{ wsh.post.id }});
    });
  {% endfor %}
  </script>
     <script>
        function shareOnFacebook(event, postUrl) {
          event.preventDefault();
          const postTitle = encodeURI("Hi everyone, please check this out: ");
          const url = `https://www.facebook.com/sharer.php?u=${postUrl}&quote=${postTitle}`;
          window.open(url, "_blank");
        }
      
        function shareOnTwitter(event, postUrl) {
          event.preventDefault();
          const postTitle = encodeURI("Hi everyone, please check this out: ");
          const url = `https://twitter.com/share?url=${postUrl}&text=${postTitle}`;
          window.open(url, "_blank");
        }
      
        function shareOnLinkedIn(event, postUrl) {
          event.preventDefault();
          const postTitle = encodeURI("Hi everyone, please check this out: ");
          const url = `https://www.linkedin.com/shareArticle?url=${postUrl}&title=${postTitle}`;
          window.open(url, "_blank");
        }
      
        function shareOnWhatsApp(event, postUrl) {
          event.preventDefault();
          const postTitle = encodeURI("Hi everyone, please check this out: ");
          const url = `https://wa.me/?text=${postTitle} ${postUrl}`;
          window.open(url, "_blank");
        }
      </script>
  
</body>

</html>


