{% extends 'pageindex.html' %}

{% load static %}

{% block profile %}

<div class='right-div-content'>
    <div class="space" style="background-color: white;"></div>
    {% if user.is_authenticated %}
        <div class="suggestion-box">
            <div class="suggestion-header">
                Join requests
            </div><br>


            
      
          
            {% for i in join_list %}

            
                <div class="suggestion-user">
                    <div>
                        <a href="{% url 'profile' i.to_user.id %}">
                            <div class="small-profilepic" style="background-image: url(/media/{{i.from_user.profile_pic}})"></div>
                        </a>
                    </div>
                    <div class="user-details">
                        <a href="">
                            <div id="user-name">
                                
                                <strong>
                                    <a style="text-decoration: none;" href="{% url 'profile' i.from_user.id %}"> {{ i.from_user.username }}</a>
                                   
                                </strong>
                            </div>
                            <!-- <div class="grey">@{{pag.username}}</div> -->
                        </a>
                    </div>
                    <div class="col-3">
                                                
                        <a class="btn" data-ripple=""><a class="btn btn btn-primary" href=""  style="background-color: #3f5ee9; border: #ffc0cb;">Accept</a></a>
                    
                    

            </div>
            <div class="col-3">
                                
                <a class="btn" data-ripple=""><a class="btn btn btn-primary" href=""  style="background-color: #ec520a; border: #ffc0cb;">Rejected</a></a>
            
            

                </div>
                    <!-- <div>
                        
                        <button class="btn btn-outline-success" type="button" onclick="follow_user(this,'{{pag.pagename}}','suggestion')">Follow</button>
                    </div> -->
                </div>

            {% empty %}
                    <div style="text-align: center; border-bottom: .5px solid #e6ecf0; padding: 10px 15px;">
                        <span class="grey" style="font-size: .9em;">No Join Requests available.</span>
                    </div>
                    
            {% endfor %}
           
        </div>
    {% else %}
        <div class="guest-box">
            <center>
                <div class="guest-header">
                    <h5>New to GitzShare?</h5>
                </div>
                <div class="grey guest-content">
                    Sign up now to get connected with people you know.
                </div>
                <div class="guest-btn">
                    <button class="btn btn-success btn-block" type="button" onclick="goto_register()">Sign Up</button>
                </div>
            </center>
        </div>
    {% endif %}
</div>


{% endblock %}

{% block emptyprofile %}
 
{% endblock %}