<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load temptage %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gizshare</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="../../static/style.css">
        <link rel="stylesheet" href="../../static/styles.css">
        <script src="https://kit.fontawesome.com/2810edf5c9.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../static/app.css">
        
        <link rel="stylesheet" href="../../static/bootstrap.min.css">
        <script type="text/javascript" src="{% static 'layout.js' %}">
            
                
        </script>
    
    
       
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
            <link rel="shortcut icon" href="{% static 'Images/favicon.ico' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
 <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
            {% block head %}
            {% endblock %}
    
    </head>
<body class="grey-bg">
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="../../static/Images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">

            <!-- ********************search******************* -->
            <form action="{% url 'search' %}" class="d-flex input-group" method="GET" style="align-content: right;">
            <div class="d-flex input-group">
                <input type="text" name="q" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="basic-addon2">
                    <button type="submit" style="border: none;" > <span class="input-group-text" id="basic-addon2"><span class="material-symbols-outlined">
                        search
                    </span></span></button>
            </div>
        </form>

        <div><ul style="display: flex; padding-top: 25px;">
         
            <li style="list-style: none; padding-left: 15px;">
                <div class="notification">
               <a href="{% url 'notification' %}"><span class="material-symbols-outlined">
                notifications
            </span></a> 
                
                <span class="badge">{{ invc }}</span>
                
                </div>
                <!-- <h6 style="font-size: 11px; margin-top: 2px; margin-left: -5px;">Notifications</h6> -->
           </li>&nbsp;
            <li style="list-style: none; padding-left: 15px; margin-left: -8px;"><div class="notification">
                <a href="{% url 'cart' %}"><span class="material-symbols-outlined">
                  local_mall
                  </span></a>
                <span class="badge">{{ crt_count }}</span>
                </div>
                <h6 style="font-size: 11px; margin-top: 2px; margin-left: 7px;"></h6></li>
        </ul>
            </div>
            <!-- <form action="{% url 'search' %}" class="d-flex" method="GET" style="align-content: right;">
                <div style="display: flex;" class="search-followers">
            <div class="d-flex input-group">
                <div style="padding: 10px;" >
                <input name="q" class="form-control me-2" type="text"  placeholder="Find your friends" ></div>
                <div style="padding: 10px;">
                <button type="submit" style="border: none;" ><span class="input-group-text" id="basic-addon2"><span class="material-symbols-outlined">
                    search
                    </span></span></button></div>

              </div>
            </div>
            </form> -->

             <!-- ********************search******************* -->



              <div class="d-flex align-items-center nav-profile">

                <div class="nav-info">
                    <a href="{% url 'profile' user.id %}" style="text-decoration: none; color: black;">
                    <h6 >{{user.username}} &nbsp;&nbsp;</h6></a>
                </div>
                <div class="nav-img">
                    {% if user.is_authenticated %}
                   
                    <a href="{% url 'profile' user.id %}">               
                       
                        <div class="nav-profilepic" style="float: left; background-image: url(/media/{{user.profile_pic}})"></div>
                    </a>

                    {% endif %}
                </div>
                
            </div>
          </div>
        </div>
      </nav>


      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
            <div class="menu-list bg-white">
                <div class="sidenav">
                   
                    <div style="height: 100%;">
                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}" >
                                            <span class="material-symbols-outlined">
                                                home
                                                </span>
                                                Home
                                        </a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        
                                        <!-- <li class="nav-item" id="saved">
                                            <a href="{% url 'saved' %}" class="nav-link">
                                                <div>
                                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bookmark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
                                                      </svg>
                                                    &nbsp;&nbsp;Saved
                                                </div>
                                            </a>
                                        </li> -->
                                        {% if user.user_type == 'organization' %}
                                        <li>
                                            <a href="{% url 'pageprofile' user.id %}">
                                                <span class="material-symbols-outlined">
                                                    person
                                                    </span>
                                                    Profile
                                            </a>
                                           
                                        </li>
                                        {% else %}
                                        <li>
                                          <a href="{% url 'profile' user.id %}">
                                              <span class="material-symbols-outlined">
                                                  person
                                                  </span>
                                                  Profile
                                          </a>
                                         
                                      </li>
                                      {% endif %}
                                        <!-- <li class="nav-item" id="logout">
                     
                                            <a href="" class="nav-link">
                                                <div  >
                                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-door-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z"/>
                                                        <path fill-rule="evenodd" d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z"/>
                                                        <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z"/>
                                                    </svg>
                                                    &nbsp;&nbsp;Sell
                                                </div>
                                            </a>
                                        </li> -->
                                        <!-- <li>
                                            <a href="">
                                                <span class="material-symbols-outlined">
                                                    work
                                                    </span>
                                                    Library
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="{% url 'wishlis' user.id %}">
                                              <span class="material-symbols-outlined">
                                                bookmark
                                                </span>
                                                    Bookmark
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'notification' %}"class="active">
                                                <span class="material-symbols-outlined">
                                                    notifications
                                                    </span>
                                                    Notifications   {% if fri is not None %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" fill="red"  class="bi bi-dot" viewBox="0 0 16 16">
                                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                                      </svg>
                                                    {% endif %}
                                                    
                                            </a>
                                        </li>
                                      
                                        <li>
                                            <a href="{% url 'pag' user.id %}">
                                                <span class="material-symbols-outlined">
                                                    apps
                                                    </span>
                                                    Pages
                                            </a>
                                        </li>
                                      
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <span class="material-symbols-outlined">
                                                    logout
                                                    </span>
                                                   Logout
                                            </a>
                                        </li>
                                        
                                        <!-- <li>
                                            <a href="{% url 'logout' %}">
                                                <span class="material-symbols-outlined">
                                                    apps
                                                    </span>
                                                   Logout
                                            </a>
                                        </li>
                                         -->
                                    {% else %}
                                    
                                    <li>
                                        <a href="{% url 'login' %}">
                                            <span class="material-symbols-outlined">
                                                notifications
                                                </span>
                                               Login
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'register' %}">
                                            <span class="material-symbols-outlined">
                                                notifications
                                                </span>
                                               Sign In
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                           
                        </div>
                     
                            
                            {% if user.is_authenticated %}
                                <input type="hidden" id="user_is_authenticated" value="True" data-username='{{user.username}}'>
                            {% else %}
                                <input type="hidden" id="user_is_authenticated" value="False">
                            {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="menu-list bg-white mt-3">
                <div class="profile-wrapper">
                    <div class="bg-profile"></div>
                    <div class="profile-img">
                        <div class="small-card-pic" style="float: left; background-image: url(/media/{{user.profile_pic}})"></div>
                    </div>
                    <div class="pro-info">
                        <h2>{{user.username}} </h2>
                        <p>Student</p>
                    </div>
    
                </div>
                <ul class="viewed-list">
                    <li>Views of your profile <span><h6 id="count-views"></h6></span></li>
                    <li>Views of your gizs <span>1</span></li>
    
                </ul>
            </div>
          
        </div>

        <!-- *****************modal share***********************                   -->


{% for post in posts %}
    
<div class="modal" id="shareModal{{ post.id }}">
  
  <div class="modal-contented">
   
    <span class="close">&times;</span>
    
    <div class="social-icons">

        <div class="social-icons">

            <div class="sales-share" style="display: flex;">
              <a href="" class="icon facebook facebook-btn" onclick="shareOnFacebook(event, 'http://gizshare.waywedesign.in/post_comment/{{ post.id }}');"><i class="fa fa-facebook"></i></a>
              <a href="#" class="icon twitter twitter-btn" onclick="shareOnTwitter(event, 'http://gizshare.waywedesign.in/post_comment/{{ post.id }}');"><i class="fa fa-twitter"></i></a>
              <a href="#" class="icon linkedin linkedin-btn" onclick="shareOnLinkedIn(event, 'http://gizshare.waywedesign.in/post_comment/{{ post.id }}');"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="icon Whatsapp whatsapp-btn" onclick="shareOnWhatsApp(event, 'http://gizshare.waywedesign.in/post_comment/{{ post.id }}');"><i class="fa fa-whatsapp"></i></a>
            </div>
  
          </div>

    </div>
  
    <label for="urlInput{{ post.id }}">share to someone</label>
    <input type="text" id="urlInput{{ post.id }}" value="" readonly>
    <button class="copy-btn" id="copyBtn{{ post.id }}">Copy URL</button>
  </div>
</div>
{% endfor %}


<!-- **************************************************** -->

       


  <!-- ************************************ -->


  <div class="popup">
    <div class="small-popup">
        <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Delete Post?</strong></div>
        <div class="grey" style="font-size: .85em; margin-bottom: 15px;">
            This can’t be undone and it will be removed from your profile, the timeline of any accounts that follow you, and from GizShare search results.
        </div>
        <div style="padding: 0px 5%;">
            <button class="btn btn-light float-left" onclick="remove_popup()">Cancel</button>
            <button class="btn btn-danger float-right" id="delete_post_btn">Delete</button>
        </div>
    </div>
    <div class="share-popup">
        <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Delete Post?</strong></div>
        <div class="grey" style="font-size: .85em; margin-bottom: 15px;">
            This can’t be undone and it will b
        </div>
        <div style="padding: 0px 5%;">
            <button class="btn btn-light float-left" onclick="remove_popup()">Cancel</button>
            
        </div>
        
    </div>
    <div class="large-popup">
        <div>
            <div>
                <div class="small-profilepic" style="background-image: url(/media/{{user.profile_pic}});"></div>
            </div>
         
        </div>
    </div>
    <div class="login-popup">
        <div onclick="remove_popup()" class="icon-btn">
            <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
        </div>
        <center>
            <div class="icon-div">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#e0245e" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </div>
            <div class="main_text-div">
                <h2></h2>
                <div class="grey">
                    Join Network today to connect with people you know.
                </div>
            </div>
            <div class="btn-div">
                <button class="btn btn-success btn-block" onclick="goto_register()">Sign Up</button>
                <button class="btn btn-outline-success btn-block" onclick="goto_login()">Login</button>
            </div>
        </center>
    </div>
</div>


<!-- ******************************************* -->




<div class="col-lg-6 col-md-6 col-12" >
<div class="scroll-page">

    <div class="col-lg-12 col-md-12 col-12">

        <div class="row">

        <div class="title-wrapper col-6 mt-4">
            <h5>Latest Notifications</h5>
            <!-- <a href="#"> <span class="material-symbols-outlined">
                    add
                </span> Create new</a> -->
        </div>

        <!-- <div class="title-wrapper col-6 mt-4">
            <a href=""><h5 >My Pages</h5></a>
    
        </div> -->
    </div>
    
    
        <ul class=" pages-list " style="overflow-y: scroll;" >
            {% for i in Notification %}



            {% if i.type == "User_Accept_Page_Invitions" %}
           

            <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="{% url 'profile' i.from_user.id %}" style="text-decoration: none;color: black;"><img src="/media/{{i.to_user.profile_pic}}" alt="">
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b></b></span> you accepted {{i.from_user.username}}  join request.. </a><br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                            </div>
                        </div>
            
                        <!-- <div class="notification">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </div> -->
                    </li>
                    {% endif %}


                {% if i.to_user.id == user.id %}

                    {% if i.type == "Page_Invitions_To_User" %}

                    <span hidden>{{i.id | notification_read}}</span>
                            <li class="bg-white radius-20 mt-4">
                                <div class="d-flex align-items-center notification-items">
                                    <div class="page-img">
                                        <a href="{% url 'pageprofile' i.to_user.id %}" style="color: black;text-decoration: none;">
                                        <img src="/media/{{i.from_user.profile_pic}}" alt="">
                                    </a>
                                    </div>
                                    
                                    <div class="pages-titles">
                                    <p> <a href="{% url 'pageprofile' i.from_user.id %}" style="color: black;text-decoration: none;"><span style="font-size: 18px;"><b>{{i.from_user}}</b></span> invited to join <span style="font-size: 18px;"><b></b></a><br>
                                        <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                        <span class="text-grey">{{i.id}} {{i.invite_request.id }}</span>

                                        {% if i.invite_request != "NULL" %}
                                            <div>
                                                <a class="btn btn-outline-success" type="submit" href="/Accept_notifiction_User/{{i.invite_request.id}}/{{i.id}} ">Accept</a> &nbsp;
                                                <a class="btn btn-outline-success" type="submit" href="/Delete_Notification_Invitations/{{i.invite_request.id}} " >Reject</a>
                                            </div>
                                        {% endif %}


                                    </div>
                                </div>

                
                    
                                <!-- <div class="notification">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div> -->
                            </li>
                            
                    {% endif %}





                    {% if i.type == "user_page_to_user" %}

                    <span hidden>{{i.id | notification_read}}</span>
                            <li class="bg-white radius-20 mt-4">
                                <div class="d-flex align-items-center notification-items">
                                    <div class="page-img">
                                        <a href="{% url 'pageprofile2' i.pages.id %}" style="color: black;text-decoration: none;">
                                        <img src="/media/{{i.pages.image}}" alt="">
                                    </a>
                                    </div>
                                    
                                    <div class="pages-titles">
                                    <p> <a href="{% url 'pageprofile2' i.pages.id %}" style="color: black;text-decoration: none;"><span style="font-size: 18px;"><b>{{i.pages}}</b></span> invited to join <span style="font-size: 18px;"><b></b></a><br>
                                        <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                        <span class="text-grey">{{i.id}} {{i.invite_request.id }}</span>

                                        {% if i.invite_request != "NULL" %}
                                            <div>
                                                <a class="btn btn-outline-success" type="submit" href="/user_Accept_userpage_notifiction/{{i.invite_request.id}}/{{i.id}} ">Accept</a> &nbsp;
                                                <a class="btn btn-outline-success" type="submit" href="/Delete_Notification_Invitations/{{i.invite_request.id}} " >Reject</a>
                                            </div>
                                        {% endif %}


                                    </div>
                                </div>

                
                            </li>
                            
                    {% endif %}



                    
                






                    {% if i.type == "User_Page_Join_Request" %}

                    <span hidden>{{i.id | notification_read}}</span>
                            <li class="bg-white radius-20 mt-4">
                                <div class="d-flex align-items-center notification-items">
                                    <div class="page-img">
                                        <a href="{% url 'profile' i.from_user.id %}" style="text-decoration: none;color: black;"><img src="/media/{{i.from_user.image}}" alt="">
                                    </div>
                                    <div class="pages-titles">
                                    <p> <span style="font-size: 18px;"><b>{{i.from_user.username}} </b></span> sent you join request </a><br>
                                        <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                        <span class="text-grey">{{i.date_created}}</span>
                                        {% if i.invite_request != "NULL" %}
                                        <div>
                                            <a class="btn btn-outline-success" type="submit" href="/Invite_Joined/{{i.invite_request.id}}/{{i.id}} ">Accept</a> &nbsp;
                                            <a class="btn btn-outline-success" type="submit" href="/Invite_Removed/{{i.invite_request.id}}/{{i.from_user.id}}" >Reject</a>
                                        </div>
                                        {% endif %}
                                       


                                    </div>
                                </div>

                
                    
                                <!-- <div class="notification">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div> -->
                            </li>
                    {% endif %}



                    



                   
                    
                    {% if i.type == "Page_Post_Reviwes_Replay" %}

                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/review_reply/{{i.review.id}}" ><img src="/media/{{i.to_user.profile_pic}}" alt=""></a>
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span> replayed to your review <br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                      
                    </li>




                    {% endif %}

                    {% if i.type == "User_Post_Reviwes" %}

                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/product_detail/{{i.post.id}}/{{i.to_user.id}}"><img src="/media/{{i.to_user.profile_pic}}" alt=""></a>
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span>  reviewed in your post <br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                      
                    </li>




                    {% endif %}

                    {% if i.type == "User_Post_Reviwes_Replay" %}
                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/review_reply/{{i.review.id}}"><img src="/media/{{i.to_user.profile_pic}}" alt=""></a>
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span>  replayed to your review  <br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                      
                    </li>




                    {% endif %}

                    {% if i.type == "Intrest_Post_Reviwes" %}
                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/product_detail/{{i.post.id}}/{{i.to_user.id}}"><img src="/media/{{i.to_user.profile_pic}}" alt=""></a>
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span>  reviewed in your post <br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                      
                    </li>




                    {% endif %}


                    {% if i.type == "Intrest_Post_Reviwes_Replay" %}
                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/review_reply/{{i.review.id}}" style="text-decoration: none;color: black;"><img src="/media/{{i.to_user.profile_pic}}" alt="">
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span>  replayed to your review  </a><br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                               
                            </div>
                        </div>

                    </li>




                    {% endif %}


                    {% if i.type == "Intrest_level_2_Post_Reviwes" %}
                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/product_detail/{{i.post.id}}/{{i.to_user.id}}"><img src="/media/{{i.to_user.profile_pic}}" alt=""></a>
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span>  reviewed in your post <br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>



                            </div>
                        </div>

            
                      
                    </li>




                    {% endif %}


                    {% if i.type == "Intrest_level_2_Post_Reviwes_Replay" %}
                    <span hidden>{{i.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="/review_reply/{{i.review.id}}"><img src="/media/{{i.to_user.profile_pic}}" alt=""></a>
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{i.to_user}} </b></span>  replayed to your review  <br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{i.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                      
                    </li>


                    {% endif %}
                    
                {% endif %}

                {% if i.type == "Page_New_Post" %}

                {% for j in page_joined %}
                                
                    {% if i.pages == j.pages %}

                            
                        <span hidden>{{i.id | notification_read}}</span>
                        <li class="bg-white radius-20 mt-4">
                            <div class="d-flex align-items-center notification-items">
                                <a href="product_detail/{{i.post.id}}/{{i.to_user.id}}" style="text-decoration: none; color: rgb(61, 60, 60);">
                                <div class="page-img">
                                    <img src="/media/{{i.pages.image}}" alt="">
                                </div>
                                <div class="pages-titles">
                                <span style="font-size: 18px;"><b>{{i.pages.pagename}} </b></span> posted a new post <br>
                                <span>" {{i.post.content_text}} "</span><br>
                                   
                                    <span class="text-grey">{{i.date_created}}</span>

                                

                                </a>
                                </div>
                            </div>

            
                
                        
                        </li>
                        {% endif %}
                {% endfor %}

                {% endif %}


            {% endfor %}
            {% for Notification2 in Notification2 %}



            {% if Notification2.type == "User_Fllowing" %}

            <span hidden>{{Notification2.id | notification_read}}</span>

            <li class="bg-white radius-20 mt-4">
                <div class="d-flex align-items-center notification-items">
                    
                    <div class="page-img">
                        
                        <a href="{% url 'profile' Notification2.to_user.id %}"style="text-decoration: none;color: black;"><img src="/media/{{Notification2.to_user.profile_pic}}" alt="" >
                    </div>
                    <div class="pages-titles">
                    <p> <span style="font-size: 18px;"><b>{{Notification2.to_user}} </b></span> started following you </a><br>
                        <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                        <span class="text-grey">{{Notification2.date_created}}</span>

                    </div>
                </div>

                <!-- <div class="notification">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div> -->
            </li>
    {% endif %}




            {% if Notification2.type == "Page_Accept_User_Invitions" %}

            <span hidden>{{Notification2.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="{% url 'pageprofile2' Notification2.to_user.id %}" style="text-decoration: none;color: black;"><img src="/media/{{Notification2.pages.image}}" alt="">
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{Notification2.pages.pagename}} </b></span> page accepted your join request.. </a><br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{Notification2.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                        <!-- <div class="notification">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </div> -->
                    </li>
            {% endif %}


            {% if Notification2.type == "User_Accept_Page_Invitions" %}
            {% if Notification2.from_user.user_type == 'organization' %}

            <span hidden>{{Notification2.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="{% url 'profile' Notification2.to_user.id %}" style="text-decoration: none;color: black;"><img src="/media/{{Notification2.to_user.profile_pic}}" alt="">
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{Notification2.to_user.username}} </b></span>  accepted your join request.. </a><br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{Notification2.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                        <!-- <div class="notification">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </div> -->
                    </li>
                    {% else %}
                    <span hidden>{{Notification2.id | notification_read}}</span>
                    <li class="bg-white radius-20 mt-4">
                        <div class="d-flex align-items-center notification-items">
                            <div class="page-img">
                                <a href="{% url 'pageprofile' Notification2.to_user.id %}" style="text-decoration: none;color: black;"><img src="/media/{{Notification2.to_user.profile_pic}}" alt="">
                            </div>
                            <div class="pages-titles">
                            <p> <span style="font-size: 18px;"><b>{{Notification2.to_user.username}} </b></span>  accepted your join request.. </a><br>
                                <!-- <span>UNIX directory tree hierarchy</span>  page</p> -->
                                <span class="text-grey">{{Notification2.date_created}}</span>

                               


                            </div>
                        </div>

        
            
                        <!-- <div class="notification">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </div> -->
                    </li>
{% endif %}

            {% endif %}

            {% endfor %}
            <!-- <li class="bg-white radius-20">
                <div class="d-flex align-items-center notification-items">
                    <div class="page-img">
                        <img src="images/slackdp.png" alt="">
                    </div>
                    <div class="pages-titles">
                       <p> <span>Lex Murphy</span>  Requested to follow to <span>UNIX directory tree hierarchy</span>  page</p>
                        <span class="text-grey">Today at 9:42 AM</span>
                    </div>
                </div>
    
                <div class="notification">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
            </li> -->
        </ul>
    
        <!-- <div class="title-wrapper mt-5">
            <h2>My Pages</h2>
    
        </div>
    
    
        <ul class=" pages-list">
            <li class="bg-white radius-20">
                <div class="d-flex align-items-center notification-items">
                    <div class="page-img">
                        <img src="images/slackdp.png" alt="">
                    </div>
                    <div class="pages-titles">
                       <p> <span>Lex Murphy</span>  Requested to follow to <span>UNIX directory tree hierarchy</span>  page</p>
                        <span class="text-grey">Today at 9:42 AM</span>
                    </div>
                </div>
    
                <div class="notification">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
            </li>
            <li class="bg-white radius-20">
                <div class="d-flex align-items-center notification-items">
                    <div class="page-img">
                        <img src="images/slackdp.png" alt="">
                    </div>
                    <div class="pages-titles">
                       <p> <span>Lex Murphy</span>  Requested to follow to <span>UNIX directory tree hierarchy</span>  page</p>
                        <span class="text-grey">Today at 9:42 AM</span>
                    </div>
                </div>
    
                <div class="notification">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
            </li>
        </ul> -->
    </div>
    

</div>
</div>







<div class="col-lg-3 col-md-3 col-12">
    <div class="feed-list bg-white">
        <div style="margin-top: -10px;">
          <h4>Suggestions</h4>
          </div>            
                  
              
                  {% if search %}
                      
                      <ul >
                          {% for suggestion in search_results %}
                              {% if not suggestion.is_staff %}
                                  {% if suggestion.username != frd.to %}
                                      <li>
                                          <div class="feed-wrapper">
                                              <div class="feed-img">
                                                  <a href="{% url 'profile' suggestion.id %}">
                                                      <div class="feed-profilepic" style="background-image: url(/media/{{suggestion.profile_pic}})"></div>
                                                  </a>
                                              </div>
                                              <div style="margin-left: 25px;" class="feed-info mr-auto">
                                                  <a style="text-decoration: none; color: black;" href="{% url 'profile' suggestion.id %}"><h6>{{suggestion.username}}</h6></a>
                                                  <p>student</p>
                                              </div>
                                              <div>
                                                  <a href="{% url 'sent_friend_request' suggestion.id %}" type="submit" style="text-decoration: none; color: black;"><span class="material-symbols-outlined">add</span></a>
                                              </div> 
                                          </div>
                                      </li>
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                      </ul>
                  {% endif %}
                  
      
              <ul style="margin-top: 20px;">
        {% for suggestion in suggestions %}
      
        {% if not suggestion.is_staff %}
        {% if  suggestion.username != frd.to %}
      
            <li>
                <div class="feed-wrapper">
                    <div class="feed-img">
                        <a href="{% url 'profile' suggestion.id %}">
                            <div class="feed-profilepic" style="background-image: url(/media/{{suggestion.profile_pic}})"></div>
                        </a>
                    </div>
                    <div style="margin-left: 25px;" class="feed-info mr-auto">
                        <a style="text-decoration: none; color: black;" href="{% url 'profile' suggestion.id %}"> <h6>{{suggestion.username}}</h6></a>
                        <p>{{ suggestion.category }}</p>
                    </div>
                    <div>
                       
                            <a  href="{% url 'sent_friend_request' suggestion.id   %}" type="submit" style="text-decoration: none; color: black;"><span class="material-symbols-outlined" >add</span></a>
                    </div> 
                    <!-- <span class="material-symbols-outlined" >
                        add
                    </span> -->
                </div>
            </li>
            {% endif %}
            {% endif %}
           {% endfor %}
        </ul>
    </div>

    <div class="feed-list bg-white">
        <h4 style="margin-left: 20px; "> Suggested Topics<span class="material-symbols-outlined">
            
            </span></h4><br>

            <ul>
                {% for intrests in intrests %}
                    <li>
                        <div class="feed-wrapper">
                           
                            <div  class="feed-info mr-auto">
                                <a style="text-decoration:none; color: black;"  href="{% url 'topicpage' intrests.id %}">
                                <h6 style="text-decoration:none; color: black;" >{{intrests.intrest_name}}</h6>
                            </a>
                                <p></p>
                            </div>
                            <div>
                               
                                   <h6> <a  href="{% url 'topicpage' intrests.id %}"  style="text-decoration: none; color: black;">
                                      <!-- <span class="material-symbols-outlined" >
                                      add
                                  </span> -->
                                  {{intrests.id| counts}} giz
                                </a></h6>
                            </div> 
                            
                        </div>
                    </li>
                 {% endfor %}
             </ul>
     </div>
</div>
</div>

</div>

<script>
    function openModal(postId) {
    // Get the corresponding modal popup
    var modal = document.getElementById("shareModal" + postId);
  
    // Get the <span> element that closes the modal popup
    var span = modal.querySelector(".close");
  
    // Get the URL input element and copy button
    var urlInput = modal.querySelector("#urlInput" + postId);
    var copyBtn = modal.querySelector("#copyBtn" + postId);
  
    // Set the URL value
    urlInput.value = "http://gizshare.waywedesign.in/post_comment/" + postId;
  
    // When the user clicks the share button, open the modal popup
    modal.style.display = "block";
  
    // When the user clicks the close button, close the modal popup
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal popup, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  
    // When the user clicks the copy button, copy the URL to clipboard
    copyBtn.onclick = function() {
      // Select the URL input text
      urlInput.select();
      urlInput.setSelectionRange(0, 99999); // For mobile devices
  
      // Copy the URL to clipboard
      document.execCommand("copy");
  
      // Change the copy button text to "Copied!"
      copyBtn.innerHTML = "Copied!";
    }
  }
  
   </script>
     <script>
      function shareOnFacebook(event, postUrl) {
        event.preventDefault();
        const postTitle = encodeURI("Hi everyone, please check this out: ");
        const url = `https://www.facebook.com/sharer.php?u=${postUrl}&quote=${postTitle}`;
        window.open(url, "_blank");
      }
    
      function shareOnTwitter(event, postUrl) {
        event.preventDefault();
        const postTitle = encodeURI("Hi everyone, please check this out: ");
        const url = `https://twitter.com/share?url=${postUrl}&text=${postTitle}`;
        window.open(url, "_blank");
      }
    
      function shareOnLinkedIn(event, postUrl) {
        event.preventDefault();
        const postTitle = encodeURI("Hi everyone, please check this out: ");
        const url = `https://www.linkedin.com/shareArticle?url=${postUrl}&title=${postTitle}`;
        window.open(url, "_blank");
      }
    
      function shareOnWhatsApp(event, postUrl) {
        event.preventDefault();
        const postTitle = encodeURI("Hi everyone, please check this out: ");
        const url = `https://wa.me/?text=${postTitle} ${postUrl}`;
        window.open(url, "_blank");
      }
    </script>

</body>

</html>


