{% extends 'network/index.html' %}

{% load static %}

{% block profile %}

<div class='right-div-content'>
    <div class="space" style="background-color: white;"></div>
    {% if user.is_authenticated %}
        <div class="suggestion-box">
            <div class="suggestion-header">
                 following pages
            </div><br>
      
          
            {% for pge in pge %}
            {% if user.username  == pge.to_user.username %}
                <div class="suggestion-user">
                    <div>
                        <a href="{% url 'pageprofile' pge.fr_pages.id %}">
                            <div class="small-profilepic" style="background-image: url(/media/{{pge.fr_pages.image}})"></div>
                        </a>
                    </div>
                    <div class="user-details">
                        <a href="">
                            <div id="user-name">
                                
                                <strong>
                                    {{ pge.fr_pages.pagename }}
                                </strong>
                            </div>
                            <!-- <div class="grey">@{{pag.username}}</div> -->
                        </a>
                    </div>
                    <!-- <div>
                        
                        <button class="btn btn-outline-success" type="button" onclick="follow_user(this,'{{pag.pagename}}','suggestion')">Follow</button>
                    </div> -->
                </div>{% endif %}
            {% empty %}
                    <div style="text-align: center; border-bottom: .5px solid #e6ecf0; padding: 10px 15px;">
                        <span class="grey" style="font-size: .9em;">No suggestions available.</span>
                    </div>
                    
            {% endfor %}
           
        </div>
    {% else %}
        <div class="guest-box">
            <center>
                <div class="guest-header">
                    <h5>New to GitzShare?</h5>
                </div>
                <div class="grey guest-content">
                    Sign up now to get connected with people you know.
                </div>
                <div class="guest-btn">
                    <button class="btn btn-success btn-block" type="button" onclick="goto_register()">Sign Up</button>
                </div>
            </center>
        </div>
    {% endif %}
</div>


{% endblock %}

{% block emptyprofile %}
    <center>
        <br>
        <strong style="font-size: 1.2em;">@{{username}} hasn't posted</strong>
        <div class="grey" style="font-size: .9em;">When they do, their posts will show up here.</div>
    </center>
{% endblock %}