{% extends "network/layout.html" %}

{% load static %}

{% load hitcount_tags %}

{% block body %}

{% for message in messages %}
<b><span class="star"><small style="color: rgb(52, 129, 201);">{{message}}</small></span></b>
{% endfor %}

    <div class="main-div">
        <div class="left-div">
            
            <div class="left-div-content">
                <div class="posts-view">
                    {% block profile %}
                    {% endblock %}
                    <div class="main-div-content">
                        {% if user.is_authenticated %}
                        {% for post in posts %}
                            <div class="post" data-post_id="{{post.id}}">
                                <div>
                                    
                                    <div style="flex: 1">


                                        <div class="post-header">
        <div class="d-flex align-items-center">
            <div class="post-img">
                {% if post.posts_type == "page_post" %}
                <div class="post-profilepic" style="background-image: url(/media/{{post.page_id.image}})"></div>
              
                {% else %}
                <a href="{% url 'profile' user.id %}">
                <div class="post-profilepic" style="background-image: url(/media/{{post.creater.profile_pic}})"></div>
                </a>
                {% endif %}
                
            </div>
            <div class="post-info">
                {% if post.posts_type == "page_post" %}
              <a style="text-decoration: none; color: black; " > <h6><a href="{% url 'profile' user.id %}">{{post.creater.username}} </a> - <a href="{% url 'pageprofile' post.page_id.id %}">{{post.page_id.pagename}} &nbsp;&nbsp;<span class="low-opacity">{{post.date_created | date:"P M d Y"}}</span></h6></a> 
              <p>academy</p></a>
                {% elif post.posts_type == "user_post" %}
                <a style="text-decoration: none; color: black; " > <h6><a href="{% url 'profile' post.creater.id %}">{{post.creater.username}} </a> &nbsp;&nbsp;<span class="low-opacity">{{post.date_created | date:"P M d Y"}}</span></h6></a> 
                <p>student</p>
                {% else %}
                <h6><a href="{% url 'topicpage' post.intr_id.id %}" ><b>{{ post.intr_id.intrest_name }}</b></a> - <a href="{% url 'profile' post.creater.id %}" style="color: rgb(122, 118, 118);">{{post.creater.username}} </a>  &nbsp;&nbsp;<span class="low-opacity">{{post.date_created | date:"P M d Y"}}</span></h6>

                {% endif %}

            </div>
        </div>
        <div class="dropdown" style="height: 1em; margin-top: -3px; margin-right: -3px;">
            <button style="border: none; background-color: white;"  onfocus="drop_down(event)" onblur="remove_drop_down(event)" >
                <span class="material-symbols-outlined">
            more_horiz
        </span>
                
            </button>
           
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a   type="submit" class="dropdown-item"  href="/add_to_wish/{{ post.id }}" style="padding-left: 15px;"> 
                        
                    &nbsp;+  &nbsp; Add to wishlist
                </a>
                {% if post.creater == user %}
                   <a  type="submit" class="dropdown-item"  href="/delete_post/{{ post.id }}" style="padding-left: 15px;"> 
                        <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-trash" fill="#e0245e" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        &nbsp;Delete
                    </a>
                    <button class="dropdown-item" onclick="edit_post(this)">
                        <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                        &nbsp;Edit post
                    </button>
                  
                  
                    {% endif %}
                   
                    <!-- {% if post.status == "sale" %}
                   <a href="{% url 'product_detail' post.id %}"> <button class="dropdown-item" >
                        <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                        &nbsp;Add To Cart
                    </button></a>
                    {% endif %} -->
               
            </div>
         
        </div>

        
    </div>



                                        
                                        {% if post.content_text is not None %}
                                            <div class="post-body">
                                               <p>{{post.content_text | linebreaksbr}}</p> 
                                               <!-- <span style="padding: 10px;">See more</span> -->
                                            </div>
                                        {% endif %}
                                        
                                       
                                        
                                        {% if post.tages_n == "True" %}              
                                        <div>
                                                           
                                            <a href="" class="mr - 1 badge badge-info" hidden>#{{ post.tages_n }}</a></div><br>
                    
                                        {% else %}    
                    <div>
                                        <a href="{% url 'article_list_by_tag' post.tages_n %}" class="mr - 1 badge badge-info">#{{ post.tages_n }}</a></div><br>
                    
                                        {% endif %}

                                  
                                       

                                       
                                        {% if post.status == "nsale" %}
                                      
                                       

                                        {% if post.content_image.url|slice:"-4:" == ".mp4" %}
                                                                    
                                        <video class="embed-responsive embed-responsive-16by9" controls="controls" controlsList="nodownload">
                                            <source src="{{ post.content_image.url }}" type="video/mp4">
                                        
                                        </video>
                                           
                                         

                                            {% elif post.content_image.url|slice:"-4:" == ".pdf" %}

   <a href="{{ post.content_image.url }}" download>
                                           
                                            <div class="post-image" style="background-image: url(../../static/pdffp.jpg);"> <center>click to download</center></div>
                                        </a>

                                        {% elif post.content_image %}

                                        <div class="post-image" style="background-image: url(/media/{{post.content_image}});"></div>
                                         {% else %}

                                         <div class="post-image" style="display: none;"></div>



                                        {% endif %}

                                        {% endif %} 

                                     
                                        <!-- {% if post.vedio %}
                                        
                                            <div class="post-image" > <video class="video" width='400'>
                                                <source src='{{ post.video.url }}' type='video/mp4'>
                                              </video>  </div>
                                           
                                            {% else %}
                                            <div class="post-image" style="display: none;"></div>
                                        {% endif %}   -->
                                        {% if post.status == "sale" %}

                                       
                                  
                                       

                                        {% if post.content_image.url|slice:"-4:" == ".mp4" %}
                                                                    
                                        <video class="embed-responsive embed-responsive-16by9" controls="controls" controlsList="nodownload">
                                            <source src="{{ post.content_image.url }}" type="video/mp4">
                                        
                                        </video>
                                           
                                         

                                            {% elif post.content_image.url|slice:"-4:" == ".pdf" %}

   <a href="{{ post.content_image.url }}" download>
                                           
                                            <div class="post-image" style="background-image: url(../../static/pdffp.jpg);"> <center>click to download</center></div>
                                        </a>

                                        {% elif post.content_image %}

                                        <div class="post-image" style="background-image: url(/media/{{post.content_image}});"></div>
                                         {% else %}

                                         <div class="post-image" style="display: none;"></div>



                                        {% endif %}




                                        {% endif %}   

                                      
                                       
                                       

                                        {% if post.status == "sale" %}
                                        <!-- <div class="u-s-m-b-15" style="background-color: #e9e4e4; display: flex; margin-bottom: 10px;border-radius: 10px; margin-top: -15px; width: 103%;" >
                                            <div style="padding: 10px;">
                                              <h6 style="color: rgb(78, 78, 78); font-size: 15px;">{{ post.categories }}</h6>
                                              <h6 style="color: rgb(42, 42, 42);">{{ post.title }}</h6>
                                            </div>


                                            <div class="ml-auto" style="padding: 10px;">
                                                <button  style="background-color:rgba(192, 192, 190, 0.953) ; color: #fff; border:rgba(255, 132, 0, 0.953) ; border-radius: 15px; "  stclass="btn btn--e-brand-b-2" >
                                                     <a  style="color:rgb(10, 10, 10); border:rgba(255, 132, 0, 0.953) ;" href="{% url 'product_detail' post.id %}"  class="btn btn--e-brand-b-2 ">Get now</a>
                                                    </button>
                                                   </div>
                                            
                                         </div> -->

                                         <div class="u-s-m-b-15" style="background-color: #eaeeeb; display: flex; margin-bottom: 10px; margin-top: 10px; width: 105%; height: 60px; margin-left: -10px; border-radius: 0px 0px 10px 10px;"  >
                                            <div style="padding: 10px;">
                                              <h6 style="color: rgb(78, 78, 78); font-size: 15px;">{{ post.categories }}</h6>
                                              <h6 style="color: rgb(42, 42, 42);">{{ post.title }}</h6>
                                            </div>


                                            <div class="ml-auto" style="padding-top: 10px; padding-right: 10px;">
                                                <button  style="background-color:rgba(192, 192, 190, 0.953) ; color: #fff; border:rgba(255, 132, 0, 0.953) ; border-radius: 15px; "  stclass="btn btn--e-brand-b-2" >
                                                    <a  style="color:rgb(10, 10, 10); border:rgba(255, 132, 0, 0.953) ;" href="{% url 'product_detail' post.id %}"  class="btn btn--e-brand-b-2 ">Get now</a>
                                                   </button>
                                                <!-- <button type="button" class="btn btn-secondary" data-bs-target="#purchasePop" data-bs-toggle="modal">get now</button> -->
                                                   </div>
                                            
                                         </div>
                                         
                                            
                                       
                                        {% endif %}
                                        <br>
                                        
                                        <div class="post-actions">
                                                                          
                                
                                            {% if user in post.likers.all %}
                                                <div class="like" onclick="unlike_post(this)" data-post_id="{{post.id}}">
                                                    <div class="svg-span">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="#e0245e" class="bi bi-star-fill" viewBox="0 -1 16 16">
                                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                        </svg>
                                                    </div>
                                                <div class="post-functions">
                                                    <div class="likes_count">{{post.likers.count}} </div> <p>&nbsp; likes</p>
                                                </div>    
                                                </div>
                                            {% else %}
                                                <div class="like" onclick="like_post(this)" data-post_id="{{post.id}}" >
                                                    <div class="svg-span">
                                                        <svg class="liked"  class="bi bi-star" width="1.1em" height="1.1em" xmlns="http://www.w3.org/2000/svg"  fill="#000"  viewBox="0 -1 16 16">
                                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                          </svg>
                                                      
                                                    </div>
                                                    <div class="post-functions">
                                                        <div class="likes_count">{{post.likers.count}} </div> <p>&nbsp; likes</p>
                                                    </div> 
                                                </div>
                                            {% endif %}
    
                                            <div class="comment">
                                                <a href="{% url 'post_comment' post.id %}" style="padding-top: 3px;"  >
                                                <div class="svg-span">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="#000" class="bi bi-chat-left" viewBox="0 0 16 16">
                                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                      </svg>
                                                    
                                                </div></a>
                                                <div class="post-functions">
                                                    <p> comments</p>
                                                </div> 
                                            </div>
                                            {% if post.status == "nsale" %}
                                                                        <div class="save" >
                                                                            <a class="shareBtn" onclick="openModal('{{ post.id }}')" style="border: none; padding-top: 3px;" > 
                                                                            <div class="svg-span">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                                                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                                                                                  </svg>
                                                                                
                                                                            </div></a>
                                                                            <div class="post-functions">
                                                                                <p> share</p>
                                                                            </div>
                                                                           
                                                                        </div>
                            
                                                                        {% elif  post.status == "sale" %}
                             
                                                                        <div class="save"  >
                                                                            <a class="shareBtn" onclick="openModal('{{ post.id }}')" style="border: none; padding-top: 3px;"> 
                                                                            <div class="svg-span">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                                                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                                                                                  </svg>
                                                                                
                                                                                
                                                                            </div> </a>
                                                                            <div class="post-functions">
                                                                                <p> share</p>
                                                                            </div>
                                                                           
                                                                        </div> 
                                                                        
                                                                      {% endif %}
                                                                      {% if post.status == "nsale" %}
                                          
                                                                      <div class="download" >
                                                                        <a class="shareBtn"  href="{% url 'download_item' post.id post.creater.id  %}" style="border: none; padding-top: 3px;" >  
                                                                        <div class="svg-span">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                                                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                                                              </svg>
                                                                            
                                                                        </div></a>
                                                                        <div class="post-functions">
                                                                            <p> download</p>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                    {% elif  post.status == "sale" %}
                                                                    <div class="download" >
                                                                        <a class="shareBtn"  href="{% url 'download_item' post.id post.creater.id  %}" style="border: none; padding-top: 3px;" >  
                                                                        <div class="svg-span">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                                                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                                                              </svg>
                                                                            
                                                                        </div></a>
                                                                        <div class="post-functions">
                                                                            <p> download</p>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                    
                                                                  {% endif %}
 
                                            
                                            <div class="views ml-auto" >
                                                <div class="svg-span" style="padding-top: 8px;">
                                                    
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="#000" class="bi bi-eye" viewBox="0 0 16 16">
                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                      </svg>
                                                    
                                                </div>
                                                <div class="post-functions">
                                                    <div class="likes_count">{{post.likers.count}} </div> <p>&nbsp; views</p>
                                                </div> 
                                            </div>
                                            
                                            
    
                                        </div><hr style="color: rgb(190, 185, 185);">
                                        

                                        <div >
                       
                                            <form action="{% url 'commentz' post.id  %}" method="POST"  enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="d-flex " style="margin-top: 15px;">
                                        <input placeholder="write comments..." name="comment_content" class="form-control"  >&nbsp;&nbsp;
                                        <button style="border: .5px solid rgb(241, 236, 236); border-radius: 5px;"> <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#666565  " class="bi bi-send-fill" viewBox="0 0 16 16">
                                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                                          </svg></button>
                                       
                                    </div>
                                       </form>
                    
                                       {% for comment in comment %}
                    
                                       <div class="comments" style="padding: 10px; border: 1px solid #E8E8E8; background-color: #fcecec; margin-top: 8px; border-radius: 10px;"  >
                                        <p class="font-weight-bold">
                                          {{ comment.commenter }}
                                          <span class=" text-muted font-weight-normal">
                                            {{ comment.comment_time }}
                                          </span>
                                        </p>
                                        {{ comment.comment_content | linebreaks }}
                                      </div>
                    
                                     
                    
                                       {% endfor %}
                                    </div>



                                    </div>
                                </div>
                                <div class="comment-div" style="display: none;" data-post_id="{{post.id}}">
                                    <div class="spinner-div">
                                        <img src="{% static 'network/Images/spinner.gif' %}" id="spinner" height="65px">
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="comment-div-data" style="display: none;">
                                            <div class="head-comment-input">
                                                <div>
                                                    <a href="{% url 'profile' user.id %}">
                                                        <div class="small-profilepic" style="background-image: url(/media/{{user.profile_pic}})"></div>
                                                    </a>
                                                </div>
                                                <div style="flex: 1;">
                                                    <div class="comment-input-div">
                                                        <form class="comment-form" >
                                                            <input type="text" name="comment" class="comment-input" placeholder="Write a comment...">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-comments"></div>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        {% empty %}
                            {% block emptyprofile %}
                            {% endblock %}
                            {% if page == 'all_posts' %}
                                <center>
                                    <br>
                                    <strong style="font-size: 1.2em;">Sorry! No one have posted anything yet.</strong>
                                    <div class="grey" style="font-size: .9em;">When they do, their posts will show up here.</div>
                                </center>
                            {% endif %}
                        {% endfor %}




 



                        

                        <!-- <nav aria-label="Page navigation example" class="pagination-bar">
                            <ul class="pagination justify-content-center">
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.previous_page_number | default:1}}" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                {% endif %}
                                {% for each in posts.paginator.page_range %}
                                    {% if each == posts.number %}
                                        <li class="page-item active"><a class="page-link" href="?page={{each}}">{{each}}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{each}}">{{each}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                          </nav> -->
                          {% else  %}

                          <div style="position: relative;" class="home">
                            <!-- <h1 style="margin-top:-500px; margin-left: 100px; font-size: 80px; color: #1f1818;   position: absolute;">24/7 Study Help</h1><br><br> -->
                            <img style="width: 100%; height: 100%; border-radius: 30px; margin-top: 30px; position: relative; " src="{% static 'std.jpg' %}" alt="bg">
                           
                            <!-- <h4 style="margin-top:-400px; margin-left: 100PX; position: absolute; color: aliceblue;">Get help with Homework Questions From Verified tutors</h4> -->
                            <h1 style="margin-top:-350px; margin-left: 150px; position: absolute;">
                             
                          </div> 
{% endif %}







                    </div>
</div>
</div>
</div>

</div>


{% endblock %}