<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% load static %}
    {% load temptage %}

   
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
    <title>gishare</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="{% static 'vendor.css' %}">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="{% static 'utility.css' %}">

    <!--====== App ======-->
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/2810edf5c9.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #eeeeee;" >
    

    <div id="app" style="background-color: #eeeeee;">
        <div class="container" >
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #fff;" >
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'index' %}"><img src="../../static/Images/logo.png" alt=""></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                 
                  <div class="collapse navbar-collapse" id="navbarScroll">
        
                <form action="{% url 'search' %}"  class="d-flex input-group" method="GET" style="align-content: right;">
                    <div class="input-group">
                        {% if not hide_username %}
                        <input type="text" name="q" class="form-control" placeholder="search" required>
                        
                        {% endif %}
                        <div class="input-group-append">
                            <button type="submit" style="border: none;"><span class="input-group-text" id="basic-addon2"><span class="material-symbols-outlined" >
                                search
        
                            </span></span></button>
                        </div>
                    </div>
                </form>

                    <div><ul style="display: flex; padding-top: 25px;">
                        <li style="list-style: none;">
                            <div class="notification" >
                                <a href="{% url 'index'  %}">  <span class="material-symbols-outlined">
                                    house
                                    </span></a>
                              
                                
                                </div>
                                <!-- <h6 style="font-size: 11px; margin-left: 4px; margin-top: 2px;">Home</h6> -->
                        </li>
                        <li style="list-style: none; padding-left: 15px;">
                            <div class="notification">
                                <a href="{% url 'notification' %}"><span class="material-symbols-outlined">
                                    notifications
                                </span></a> 
                            
                                {% if notifi_count != 0 %}
                                <span class="badge" id="not_count">{{notifi_count}}</span>
                                    {% endif %}
                            </div>
                            <!-- <h6 style="font-size: 11px; margin-top: 2px; margin-left: -5px;">Notifications</h6> -->
                       </li>&nbsp;
                        <li style="list-style: none; padding-left: 15px; margin-left: -8px;"><div class="notification">
                            <a href="{% url 'cart' %}"><span class="material-symbols-outlined">
                              local_mall
                              </span></a>
                            <span class="badge">{{ crt_count }}</span>
                            </div>
                            <h6 style="font-size: 11px; margin-top: 2px; margin-left: 7px;"></h6></li>
                    </ul>
                        </div>
        
                  
        
        
                      <div class="d-flex align-items-center nav-profile">
        
                        <div class="nav-info">
                            <a href="{% url 'profile' user.id %}" style="text-decoration: none; color: black;">
                            <h6 >{{user.username}} &nbsp;&nbsp;</h6></a>
                        </div>
                        <div class="nav-img">
                            {% if user.is_authenticated %}
                           
                            <a href="{% url 'profile' user.id %}">               
                               
                                <div class="nav-profilepic" style="float: left; background-image: url(/media/{{user.profile_pic}})"></div>
                            </a>
        
                            {% endif %}
                        </div>
                        
                    </div>
                  </div>
                </div>
              </nav>
              {% for i in pro %}
              <div class="modal" id="shareModal{{ i.id }}">
                  <div class="modal-contented">
                      <span class="close">&times;</span>
                      <div class="social-icons">
                          <div class="sales-share" style="display: flex;">
                              <a href="" class="icon facebook facebook-btn" onclick="shareOnFacebook(event, 'http://127.0.0.1:8000/product_detail/{{ i.id }}/{{ i.creater.id }}');"><i class="fa fa-facebook"></i></a>
                              <a href="#" class="icon twitter twitter-btn" onclick="shareOnTwitter(event, 'http://127.0.0.1:8000/product_detail/{{ i.id }}/{{ i.creater.id }}');"><i class="fa fa-twitter"></i></a>
                              <a href="#" class="icon linkedin linkedin-btn" onclick="shareOnLinkedIn(event, 'http://127.0.0.1:8000/product_detail/{{ i.id }}/{{ i.creater.id }}');"><i class="fa fa-linkedin"></i></a>
                              <a href="#" class="icon Whatsapp whatsapp-btn" onclick="shareOnWhatsApp(event, 'http://127.0.0.1:8000/product_detail/{{ i.id }}/{{ i.creater.id }}');"><i class="fa fa-whatsapp"></i></a>
                          </div>
                      </div>
                      <label for="urlInput{{ i.id }}">Share to someone</label>
                      <input type="text" id="urlInput{{ i.id }}" value="" readonly>
                      <button class="copy-btn" id="copyBtn{{ i.id }}">Copy URL</button>
                  </div>
              </div>
          {% endfor %}

        <div class="app-content" style="background-color: #fff; border-radius: 20px; padding: 30px;">
            <div class="scroll-page">
            <!--====== Section 1 ======-->
            {% for i in pro %}
            <div class="u-s-p-t-90" >
                <div class="container" style="margin-top: -50px;">
                    <div class="row">
                        <div class="col-lg-5">

                            <div class="pd u-s-m-b-30">
                                <div class="slider-fouc pd-wrap">
                                
                                    <div id="pd-o-initiate">


                            
                                        {% if i.content_image.url|slice:"-4:" == ".mp4" %}

                                        <video class="embed-responsive embed-responsive-16by9" controls="controls">
                                            <source src="{{ i.content_image.url }}" type="video/mp4">
                                        
                                        </video>
                                        
                                        
                                                {% elif i.content_image  %}
                                                <div class="pd-o-img-wrap" data-src="{{i.content_image.url}}">

                                                    <img class="u-img-fluid" src="{{i.content_image.url}}" data-zoom-image="{{i.content_image.url}}" alt=""></div>
                                               
                                                        
                                    {% endif %}
                                              
                                    </div>
                                   
                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                         
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        
                        
                        <div class="col-lg-7" style=" padding-left: 30px;">

                            <div class="company-review">
                                <div class="company-review" style="display: flex;">
                                    <a href="{% url 'profile' i.creater.id %}">
                                    <div class="small-profilepic" style="background-image: url(/media/{{i.creater.profile_pic}})"></div>   
                                </a>
                                <a href="{% url 'profile' i.creater.id %}" style="text-decoration: none;color: black;"> <h4 >{{ i.creater.username }}</h4></a>
                                
            
                                    {% if request.user.id == i.creater.id %}
                                    <a href="/settings" data-ripple=""></a>
                                    {% else %}
                                    {% if button_text == "Follow" %}
                                    <a class="btn" data-ripple=""><a class="btn btn btn-primary" href="{% url 'sent_friend_request_download' i.id i.creater.id   %}" type="submit" style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}</a></a>
                                    {% else %}
                                    <a class="btn " data-ripple=""><a class="btn btn btn-primary" href="{% url 'delete_frd_download' i.id i.creater.id   %}" type="submit" style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}</a></a>
                                    {% endif %}					{% endif %}
                                            </div>
                        </div><br>
                        {% if i.crater.bio is not None %}
                        <h7 >{{ i.creater.bio }}</h7><br>
                        {% endif %}
                      <h7 >{{ i.creater.category }}</h7><br>

                      <h7 >{{ i.creater.email }}</h7>

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail">
                                <div>

                                    <span class="pd-detail__name">{{i.Product_Name }}</span></div>
                                <div>
                                    {% if i.Product_Price  == None %}
                                    <h2></h2>
                                    {% else %}
                                    
                                    {% if offer_price == "" %}
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__price">Rs {{i.Product_Price}}</span>

                                        <del style="color: rgb(32, 32, 32); opacity: 0.8;">Rs {{i.Product_Price|delprice}}</del>

                                   </div>
                                   {% else %}
                                   <div class="pd-detail__inline">

                                    <span class="pd-detail__price">Rs {{i.Offer_price}}</span>

                                    <del style="color: rgb(32, 32, 32); opacity: 0.8;">Rs {{i.Product_Price}}</del>

                                    
                                    <p>Time remaining: {{ days_left}}</span></p>

                               </div>

                                   {% endif %}

                                       {% endif %}
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="u-s-m-b-8">
                                        <div class="star-rating">
                                            {% if avav >= 4.5 %}
                                            <div class="gl-rating-style-2"><i class="">NOBEL</i>

                                                <span>(5)</span></div>
                                            {% elif avav >= 3.5 %}
                                            <div class="gl-rating-style-2"><i class="">NOBE</i>

                                                <span>(4)</span></div>
                                            {% elif avav >= 2.5 %}
                                            <div class="gl-rating-style-2"><i class="">NOB</i>

                                                <span>(3)</span></div>
                                            {% elif avav >= 1.5 %}
                                            <div class="gl-rating-style-2"><i class="">NO</i>

                                                <span>(2)</span></div>
                                            {% elif avav >= 0.5 %}
                                            <div class="gl-rating-style-2"><i class="">N</i>

                                                <span>(1)</span></div>
                                            {% else %}
                                            <div class="gl-rating-style-2"><i class=""></i>

                                                <span>(0)</span></div>
                                            {% endif %}
                                        </div>
                                        
                                    </div>

                                    
                                </div>
                                <div class="u-s-m-b-15">
                                    {% if i.price == None %}

<h2></h2>
{% else %}
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__stock">200 in stock</span>

                                        <span class="pd-detail__left">Only 2 left</span></div>
                                        {% endif %}
                                </div>
                               
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc">
                                        {{i.content_text}}
                                    </span></div>
                                
                                    {% if i.Product_Price  == None %}
<div>
    <form action="{% url 'download_histoy' i.id i.creater.id %}"  class="d-flex input-group" method="GET" style="align-content: right;">
        {% if not request.user.id == i.creater.id %}
    <button onclick="downloadItem('{{ i.content_image.url }}')" type="submit" class="btn btn-success">
        <i class="fa-sharp fa-solid fa-circle-down"></i> Download
        
    </button>
    {% endif %}
    </form>
</div>
{% else %}

                                <div class="u-s-m-b-15">
                                    <form class="pd-detail__form" action="{% url 'add_cart' i.id i.creater.id  %}" method="POST">{% csrf_token %}
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">

                                                <!--====== Input Counter ======-->
                                                <!-- <div class="input-counter">

                                                    <span class="input-counter__minus fas fa-minus"></span>

                                                    <input class="input-counter__text input-counter--text-primary-style" name="qty" type="text" value="1" data-min="1" data-max="1000">

                                                    <span class="input-counter__plus fas fa-plus"></span></div> -->
                                                <!--====== End - Input Counter ======-->
                                            </div>
                                            <div class="u-s-m-b-15">
                                                {% if not request.user.id == i.creater.id %}
                                                
                                                <button type="submit" class="btn " style="background-color:rgb(255, 187, 0) ; color: #fff;">
                                                   
                                                    Add to Cart

                                                    
                                                </button>
                                                {% endif %}
                                                

                                                <!-- <button style="background-color:rgba(255, 132, 0, 0.953) ; color: #fff; border:rgba(255, 132, 0, 0.953) ; border-radius: 10px; "  stclass="btn btn--e-brand-b-2" >
                                                     <a  style="color:#fff; border:rgba(255, 132, 0, 0.953) ;" href=" {% url 'checkout' %}"  class="btn btn--e-brand-b-2">Buy</a>
                                                    </div></button> -->
                                        </div>
                                    </form>
                                </div>
                                {% endif %}
                                <!-- <div class="u-s-m-b-15">

                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                    <ul class="pd-detail__policy-list">
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Assured products only.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Full Refund if you don't receive your order.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Returns accepted if product not as described.</span></li>
                                    </ul>

                                   
                                </div> -->
                                {% if not request.user.id == i.creater.id %}
                                <button style="margin-left: 15px; margin-top: 20px; border: .5px solid grey;"  onclick="openModal('{{ i.id }}', '{{ i.creater.id }}')" type="button" class="btn btn-light">share</button>
                                {% endif %}
                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

          

            <!--====== Product Detail Tab ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">

                                            <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>
                                        
                                        <li class="nav-item">

                                            <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS

                                                <span>({{ rew_count }})</span></a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--====== Tab 1 ======-->
                                    <div class="tab-pane fade show active" id="pd-desc">
                                        <div class="pd-tab__desc">
                                            <div class="u-s-m-b-15">
                                                <p>{{i.content_text}}</p>
                                            </div>
<!--                                            
                                            <div class="u-s-m-b-30">
                                                <ul class="pd-detail__policy-list">
                                                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>
            
                                                        <span>Assured products only.</span></li>
                                                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>
            
                                                        <span>Full Refund if you don't receive your order.</span></li>
                                                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>
            
                                                        <span>Returns accepted if product not as described.</span></li>
                                                </ul>
                                            </div> -->
                                            <!-- <div class="u-s-m-b-15">
                                                <h4>PRODUCT INFORMATION</h4>
                                            </div> -->
                                            <div class="u-s-m-b-15">
                                                <!-- <div class="pd-table gl-scroll">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>Main Material</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Color</td>
                                                                <td></td>
                                                            </tr>
                                                           
                                                           
                                                            <tr>
                                                                <td>Shipping Weight (kg)</td>
                                                                <td>0.5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div> -->
                                            </div>
                                        </div>

                                    </div>
                                    <!--====== End - Tab 1 ======-->


                                    <!--====== Tab 2 ======-->
                                    <div class="tab-pane" id="pd-tag">
                                        <div class="pd-tab__tag">
                                            <h2 class="u-s-m-b-15">ADD YOUR TAGS</h2>
                                            <div class="u-s-m-b-15">
                                                <form>

                                                    <input class="input-text input-text--primary-style" type="text">

                                                    <button class="btn btn--e-brand-b-2" type="submit">ADD TAGS</button></form>
                                            </div>

                                            <span class="gl-text">Use spaces to separate tags. Use single quotes (') for phrases.</span>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 2 ======-->


                                    <!--====== Tab 3 ======-->
                                    <div class="tab-pane" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>{{ rew_count }} Reviews </h2>
                                                    </div>
                                                  
                                                    <div class="u-s-m-b-8">
                                                        <div class="star-rating">
                                                            {% if avav >= 4.5 %}
                                                            <div class="gl-rating-style-2"><i class="">NOBEL</i>

                                                                <span>(5)</span></div>
                                                            {% elif avav >= 3.5 %}
                                                            <div class="gl-rating-style-2"><i class="">NOBE</i>

                                                                <span>(4)</span></div>
                                                            {% elif avav >= 2.5 %}
                                                            <div class="gl-rating-style-2"><i class="">NOB</i>

                                                                <span>(3)</span></div>
                                                            {% elif avav >= 1.5 %}
                                                            <div class="gl-rating-style-2"><i class="">NO</i>

                                                                <span>(2)</span></div>
                                                            {% elif avav >= 0.5 %}
                                                            <div class="gl-rating-style-2"><i class="">N</i>

                                                                <span>(1)</span></div>
                                                            {% else %}
                                                            <div class="gl-rating-style-2"><i ></i>

                                                                <span>(0)</span></div>
                                                            {% endif %}
                                                        </div>
                                                        
                                                    </div>

                                                    <span class="gl-text">Tell us what you think about this item</span>
                                                </div>
                                            </div>


                                                                        <div class="u-s-m-b-30">
                                                                            {% if user.username == i.creater.username  %}

                                                                            {% else %}
                                                <form class="pd-tab__rev-f2" action="{% url 'reviews' i.id i.creater.id %}" method="POST"  enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <h2 class="u-s-m-b-15">Add a Review</h2>

                                                    <span class="gl-text u-s-m-b-15">Your email address will not be published. Required fields are marked *</span>
                                                    <div class="u-s-m-b-30">
                                                        <div class="rev-f2__table-wrap gl-scroll">
                                                            <table class="rev-f2__table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="">N</i>

                                                                                <span>(1)</span></div>
                                                                        </th>
                                                                      
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="">NO</i><i class=""></i>

                                                                                <span>(2)</span></div>
                                                                        </th>
                                                                      
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="">NOB</i><i class=""></i><i class=""></i>

                                                                                <span>(3)</span></div>
                                                                        </th>
                                                                       
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="">NOBE</i><i class=""></i><i class=""></i><i class=""></i>

                                                                                <span>(4)</span></div>
                                                                        </th>
                                                                     
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="">NOBEL</i>

                                                                                <span>(5)</span></div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1" value=1 name="rating" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-1"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                     
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio"  id="star-2" value=2 name="rating" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-2"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                      
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3" value=3 name="rating" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-3"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                     
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4" value=4 name="rating" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-4"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                      
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-5" value=5 name="rating" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    {% if user.username == i.creater.username  %}
                                                   
                                                    {% else %}
                                                    <div class="rev-f2__group">
                                                        <div class="u-s-m-b-15">

                                                            <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label><textarea class="text-area text-area--primary-style" id="reviewer-text" name="reviewz" required></textarea></div>
                                                        <div>
      
                                                            <p class="u-s-m-b-30">

                                                                <label class="gl-label" for="reviewer-email">EMAIL *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="reviewer-email" name="mail" required></p>
                                                        </div>
                                                    </div>
                                                   
                                                    <div>

                                                        <button class="btn btn--e-brand-shadow" type="submit">SUBMIT</button></div>
                                                        {% endif %}
                                                </form>
                                                {% endif %}


                                            </div>
                                            <div class="u-s-m-b-30">
                                              
                                                    <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15">
                                                            <h2>{{ rew_count }} Review(s) for this post</h2>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="rev-f1__review">
                                                        {% for rew in rew %}
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                               <a href="{% url 'profile' i.creater.id %}" style="text-decoration: none;"><span class="review-o__name">{{ rew.reviewer }}</span></a> 

                                                                <span class="review-o__date">{{ rew.review_time }}</span></div>
                                                                
                                                                {% if rew.rating == 5 %}
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8"><i>(NOBEL)</i>

                                                               </div>
                                                               {% elif rew.rating == 4 %}
                                                               <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="">(NOBE)</i>

                                                               </div>
                                                               {% elif rew.rating == 3 %}
                                                               <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="">(NOB)</i>

                                                               </div>
                                                               {% elif rew.rating == 2 %}
                                                               <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="r">(NO)</i>

                                                               </div>
                                                               {% elif rew.rating == 1 %}
                                                               <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="">(N)</i>

                                                               </div>
                                                               
                                                               {% endif %}
                                                            <p class="review-o__text">{{ rew.reviewz }}</p>
                                                            <a href="{% url 'review_reply' rew.id %}" style="text-decoration: none ;"><span class="review-o__date">Reply</span></a>
                                                            {% if user.username == rew.reviewer.username %}
                                                            <a href="{% url 'review_delete' rew.id rew.post.id rew.reviewer.id %}" style="text-decoration: none ;"><span class="review-o__date">delete</span></a>
                                                            {% endif %}
                                                        </div>
                                                        </div>
                                                       
                                                        {% endfor %}
                                                   
                                                
                                            </div>
                                       
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

            <!-- <div class="right-div">
                <h5>hello</h5>
            </div> -->
            
        </div>
    </div>
        </div>
    </div>
    </div>
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js' %}" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="{% static 'vendor.js' %}"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="{% static 'jquery.shopnav.js' %}"></script>

    <!--====== App ======-->
    <script src="{% static 'app.js' %}"></script>

    <!--====== Noscript ======-->
    <script>
        function downloadItem(fileUrl) {
            // Create an <a> element with the download link
            var link = document.createElement('a');
            link.href = fileUrl;
            link.download = fileUrl.split('/').pop();
            document.body.appendChild(link);
    
            // Trigger the download and remove the <a> element
            link.click();
            document.body.removeChild(link);
        }
    </script>
    <script>
        function openModal(postId, createrId) {
          // Get the corresponding modal popup
          var modal = document.getElementById("shareModal" + postId);
        
          // Get the <span> element that closes the modal popup
          var span = modal.querySelector(".close");
        
          // Get the URL input element and copy button
          var urlInput = modal.querySelector("#urlInput" + postId);
          var copyBtn = modal.querySelector("#copyBtn" + postId);
        
          // Set the URL value
          urlInput.value = "http://127.0.0.1:8000/product_detail/" + postId + "/" + createrId;
        
          // When the user clicks the share button, open the modal popup
          modal.style.display = "block";
                                                                                                                                                                                                                                                                                                                                                                                                                  
          // When the user clicks the close button, close the modal popup
          span.onclick = function() {
            modal.style.display = "none";
          }
        
          // When the user clicks anywhere outside of the modal popup, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        
          // When the user clicks the copy button, copy the URL to clipboard
          copyBtn.onclick = function() {
            // Select the URL input text
            urlInput.select();
            urlInput.setSelectionRange(0, 99999); // For mobile devices
        
            // Copy the URL to clipboard
            document.execCommand("copy");
        
            // Change the copy button text to "Copied!"
            copyBtn.innerHTML = "Copied!";
          }
        }
        </script>
        <script>
            function shareOnFacebook(event, postUrl) {
              event.preventDefault();
              const postTitle = encodeURI("Hi everyone, please check this out: ");
              const url = `https://www.facebook.com/sharer.php?u=${postUrl}&quote=${postTitle}`;
              window.open(url, "_blank");
            }
          
            function shareOnTwitter(event, postUrl) {
              event.preventDefault();
              const postTitle = encodeURI("Hi everyone, please check this out: ");
              const url = `https://twitter.com/share?url=${postUrl}&text=${postTitle}`;
              window.open(url, "_blank");
            }
          
            function shareOnLinkedIn(event, postUrl) {
              event.preventDefault();
              const postTitle = encodeURI("Hi everyone, please check this out: ");
              const url = `https://www.linkedin.com/shareArticle?url=${postUrl}&title=${postTitle}`;
              window.open(url, "_blank");
            }
          
            function shareOnWhatsApp(event, postUrl) {
              event.preventDefault();
              const postTitle = encodeURI("Hi everyone, please check this out: ");
              const url = `https://wa.me/?text=${postTitle} ${postUrl}`;
              window.open(url, "_blank");
            }
          </script>
    
</body>
</html>